.schedule-time-select {
    select {
        width: 105%;
        border: 0;
        outline: 0;
        color: #0094FF;
    }

    option {
        padding: 10px;
        color: #000000;
        width: 200px;
    }
}

.schedule-item-notification {
    font-style: italic;
}

.schedule-date {
    min-width: 180px;
}

.schedule-times {
    min-width: 100px;
}