/*
 * General styles
 */
body,
html {
  background: #F1F5F9;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fontmain;
  font-size: $base-size - 2px;
  // height: 100vh;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.space-50 {
  width: 100%;
  height: 0px;
}




textarea {
  &:focus {
    border-color: #277BC0;
    transition: all 0.2s linear;
  }
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  i {
    font-size: $base-size - 3px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.button {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s linear;

  &--primary {
    background: #1B1C31;
    padding: 14px 20px;

    a {
      text-decoration: none;

      &:hover {
        color: #fff;
      }
    }
  }

  &--disable {
    background: #b5b5b5;
    padding: 8px 25px;
    color: #000 !important;

    a {
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  &--enable {
    background: #FEDB39;
    padding: 8px 25px;
    color: #000 !important;

    a {
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  &--update {
    background: #FEDB39;
    padding: 14px 40px;
    color: #000 !important;

    a {
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  &--long {
    background: #1B1C31;
    padding: 14px 40px;

    a {
      text-decoration: none;

      &:hover {
        color: #fff !important;
      }
    }
  }

  &--hover {
    color: #000;
    padding: 14px 20px;

    a {
      text-decoration: none;
      color: #000;
    }

    &:hover {
      color: #000 !important;
    }
  }

  &--secondary {
    background: #1B1C31;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 68px !important;
  }

  &:hover {
    color: #fff;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.blue-span {
  color: #0094FF;
  font-weight: 400 !important;
}