.login {
    height: 100vh;
    background: url(../../assets/images/LOGIN.png), #F1F5F9;
    background-repeat: no-repeat;
    background-position: center 150px;
    background-size: 80%;
    text-align: center;
    overflow: auto;
}