.lecturers {
    &-content {
        padding: 40px 130px;
    }

    &-list {
        margin: 0 50px;
        padding: 20px 0;
    }

    &-item {
        width: 100% !important;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        position: relative;
        margin-bottom: 10px;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;

        &-info {
            padding: 10px !important;
        }

        &-title {
            font-size: 18px;
            font-weight: 500;

        }

        &-text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            -webkit-line-clamp: 1;
            height: 25px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top: 20px;
            margin-bottom: 0;
        }

        &-desc {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
            -webkit-line-clamp: 2;
            height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-bottom: 30px;
        }

        &-social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 20px;

            &>img {
                width: 20px !important;
                height: 20px;
                object-fit: cover;
                margin: 0;

                cursor: pointer;
            }
        }

    }
}